<p id="notice"><%= notice %></p>

<h1>
  <%= @fumbl.title %>
</h1>

<div class='body'>
  <%= @fumbl.body %>
</div>


<%= link_to 'Edit', edit_fumbl_path(@fumbl) %> |
<%= link_to 'Back', fumbls_path %>
